*{
     color:rgb(0, 0, 0) ; 
}
 body{
  background-color: rgb(236, 202, 6);
}
h2{
    font-family: Verdana, Geneva, sans-serif;
}
input{
    background-color: rgb(255, 255, 255);
}
span{
    color: black;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box {
    width: 500px;
    height: 400px;
    border-style: dotted ;
    }
    body {
    margin: 0px;
    }
/* CSS é muito chato de usar */